body {
    color: #333333;
    margin: 0;
    text-align: center;
}

header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
header ul li {
    display: inline-block;
    padding: 0 20px;
}
header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}
header img {
    height: 30px;
}