body {
    color: #333333;
    margin: 0;
    text-align: center;
}

header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 6.4%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
header ul li {
    display: inline-block;
    padding: 0 20px;
}
header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}
header img {
    height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Gallery Container */
.gallery-container {
    position: relative;
    width: 70%;  /* ギャラリーの幅を80%に設定 */
    margin: 80px auto 0;  /* 上部に50pxのスペース */
    overflow: hidden;  /* はみ出た部分を隠す */
}

/* Gallery (Images) */
.gallery {
    display: flex;
    transition: transform 0.5s ease;  /* スライドのアニメーション */
}

.gallery img {
    width: 100%;  /* 画像を親要素の幅に合わせる */
    object-fit: cover;  /* 画像の比率を維持しながら、親要素に収める */
    max-width: 100%;  /* 最大幅を100%に設定 */
    height: auto;  /* 高さを自動調整 */
}

/* Navigation buttons */
.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

